.center-align{
    margin: auto;
    width: 50%
    }
.nav{
   
}
.container{
    margin: auto;
    width: 50%;
    
   
}
#login-form{
    margin: 30px;
    background-color: rgb(247, 247, 243);
    padding: 40px;
   text-align: match-parent;
   
     
}
#login-btn{
    text-align: right;
}
.login-body{
    background-color: rgb(235, 227, 250);
}
#pass{
    margin: auto;
    width: 50%;
}